@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: beige;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(176, 176, 176);
}
